/* .roquah {

    height: calc(100vh - 200px);
} */

.text img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}